/*Poker-Cashier*/


html {	overflow: hidden;}

/*Font-face_Bebas*/
@font-face{font-family:'BebasNeueRegular'; src: url('../fonts/bebas-neue-webfont.woff'),url('../fonts/bebas-neue-webfont.eot'); font-weight:normal; font-style:normal;}
@font-face {font-family: 'Oswald-Light'; src: url('../fonts/Oswald-Light.woff'),url('../fonts/Oswald-Light.eot'); font-weight:normal; font-style:normal;}
@font-face {font-family: 'Oswald-Medium'; src: url('../fonts/Oswald-Medium.ttf')}
/*titles*/
h2, h3 {font-weight:normal; line-height:normal; letter-spacing:1px;}
h2, h3, .btn-welcome {font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif; font-size:33px; text-align:center;}
.title {color: #1976D2;/* font-size: 25px;*/ font-size:22px; font-weight: bold; margin-bottom: 5px;/* padding: 5px 0;*/ padding:6px 0; text-align:center;}
h4, h5, .title, .header-top, .steps, .two-steps {font-family: "Oswald-Light", Arial, Helvetica, sans-serif; letter-spacing:.5px;}
.subtitle {font-weight:bold; padding-top:5px; margin-bottom:10px; color:#1B3459;}

/*links*/
a {color:#777; text-decoration:underline;}
a:hover {color: #1a8dea; cursor:pointer;}

/*icons*/
i {color:#6d6d6d; margin-right:4px;}
i.i-top{margin-top: 8px;}

/*colors*/
.green {color:#01b300;}
.orange {color:coral;}
.blue {color:#1a8dea;}
.red {color:#e03430;}
.grey { color:#555;}
.purple{ color: #c36dfa;}

/*btns*/
.btn{padding: 5px 10px;}
button + button {margin-left:70px;}
button.btn-welcome {border:1px solid #6b89ac; font-size:53px; margin-top:14px; padding:5px 36px 5px; border-radius:6px; text-shadow:1px 1px 2px #6172a1; font-weight:normal;}
button.btn-welcome:hover {box-shadow:0 0 7px 1px #6172a1; font-weight:normal;}
button.btn-welcome:hover, button.btn-welcome:focus, .btn-green, .btn-green:focus {color:#FFF;}
.btn-green, .btn-green:active, .btn-grey, .btn-grey:active {font-weight:bold; /*margin-top:4px;*/ margin-bottom:2px; }
.btn-green, .btn-green:active{background:#01b300; background:-moz-linear-gradient(top, #01b300 0%, #3a9637 100%); background: -webkit-linear-gradient(top, #01b300 0%, #3a9637 100%); background: linear-gradient(to bottom, #01b300 0%, #3a9637 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01b300', endColorstr='#3a9637', GradientType=0);}
.btn-grey, .btn-grey:active{ background:#CCC!important; border:1px solid #BBB; float:left; /*margin-top: 80px;*/ margin-top:120px;}
table button.btn.btn-grey {margin-top: 0;}
.btn-green:hover {box-shadow:0 0 7px 1px green; border:1px solid #6dd66c; color:#FFF;}
.btn-grey:hover{ background:#BBB!important;}
.btn:hover {-webkit-transition: all 100ms ease-in; -moz-transition: all 100ms ease-in; -ms-transition: all 100ms ease-in; -o-transition: all 100ms ease-in; transition: all 100ms ease-in;}
.btn-xs{ padding: 1px 4px; font-size:11px; margin-top:3px;}

/*mod-btns*/
.mod-btns{margin-top:10px;}
.mod-btns .col-sm-12{ text-align:center;}
.mod-btns .col-sm-6 + .col-sm-6{text-align:right!important;}
.mod-center{ text-align:center; margin: 10px 0 4px;}
.mod-center p{text-align:center!important; line-height: 1.3;}


/*form*/
form { margin-bottom:5px;}
/*form[class^="form"] label[class^="col"] { border:1px solid red!important; width:28%;}*/
select + select {margin-top:15px;}
.checkbox input[type=checkbox] {position:initial;}
.checkbox label span { margin-left:4px;}
.col-sm-3 + .col-sm-3 + .col-sm-6 {margin-top:8px;}
.form-group label + input[type*="number"] {/*width: 300px!important;*/ margin: 0 auto;}
.form-group{ margin-bottom:10px;}
.form-control { height:28px; padding:3px; font-size:13px;}
.input-group .input-group-btn button, .input-group .input-group-addon {height: 28px; font-size: 12px;}
label{ font-size:13px;}
div>p{/* margin-top:5px;*/}
/*2btns*/
div[class^="col-md-4 col-md-offset"] .row .col-sm-6:first-child{padding-left:6px;}

/*tables*/
table {margin:0 auto; border:0; border-radius:3px; overflow:hidden; font-size:14px; box-shadow: 0 1px 2px #AAA; width: 85%; text-align:left;/* margin-top:10px;*/ }
table.table {/*width:98%;*/}
.table-responsive {border: none;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#d0ddf7/* #c7d6f3*/;}
.table-striped>tbody>tr:nth-of-type(even){background-color: #e5ebf9;}
table tr {border-bottom: 1px solid #c7d6f3;}
table tr:last-child{ border-bottom:none!important;}
table tr th {background:#1d1d1d; color:#FFF;}
table tr td{ border-top:0!important;}
table tr td span {color:#555; font-weight: 500;}
table tr td[rowspan]{border-right: 1px solid #c7d6f3;}
table.contextual-table tr{border-bottom: 1px solid #DDD;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding:6px 8px; vertical-align:middle;}
/*MTCN-tables*/
table.mtcn-table{}
table.mtcn-table tr th{ border-bottom:1px solid #555!important; color: #c7d6f3;}
table.mtcn-table tr th span{ color:#FFF;}
table.mtcn-table tr td strong{ color:#1976D2;}

/*list*/
ol, ul{padding:0!important;}
ul.list-group{padding:10px 5px 10px 0!important; line-height: 1.8; padding-top: 10px; padding-bottom: 10px; margin-bottom: 25px!important; margin-top: 10px;}
ul.list-group li:before{/*color:#da161d; content: "-"; font-size: .75em; padding-right:6px;*/}
ul li, ol li {text-align:left; list-style: none; /*text-indent: 15px;*/}
ul li span, ol li span {font-weight:bold; color:#555;}
ul li:before, ol li:before{content: "\25CF"; color:#1976D2; padding-right:4px; text-align: left; font-size: 10px;}

/*paragraph*/
.internal-content p{ /*margin: 2px 0 8px;*/}

/*global*/
body {background:#EEE; font-family:'Segoe UI', Arial, sans-serif; color:#777; font-size:13px;}

/*container*/
.container/*, .box*//*, table*/{padding: 0;border-right:1px solid #CCC; border-left:1px solid #CCC; border-bottom:1px solid #CCC; width:1000px; height: 538px; -webkit-box-shadow: 0 0 2px 2px #000; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1); -ms-box-shadow: 0 0 2px 2px #000; box-shadow:0 0 2px 2px #000; box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);  background:#F9F9F9;}

/*header-top*/
.header-top {background:#1d1d1d;/* border-top:1px solid #444;*/ /*color:#AAA;*/color: #c7d6f3; overflow:hidden;}

/*-----InfoUser*/
.header-top {padding:5px 15px; font-size:15px;}
.header-top span {color:#FFF; padding-left:5px;}
.header-top a {color:#1a8dea; text-decoration:none;}
.header-top a:hover {color:#FFF;}

/*internal-content*/
.internal-content {/*padding:15px 15px 20px;*/padding:10px 10px 15px; /*padding:10px 0 15px;*/}

/*scroll*/
.scroll, .mtcn.scroll, .history.scroll/*, .processors*/ { overflow-y:scroll!important;}
.scroll/*, .processors*/{ height:300px;}
.mtcn.scroll, .history.scroll, .transactions.scroll{height:440px;}
.history.scroll table{ font-size:13px!important;}
/*.infoCol .scroll{height: 300px;}*/

/*.historyContent {overflow-x:scroll!important;height: 425px;}*/

/*-----steps*/
.steps, .two-steps {text-align: center; font-size: 27px; font-weight: bold;}
.steps div[class^="step"]{width: 33.333%;}
.two-steps div[class^="step"]{ width: 50%;}
.steps div[class^="step"], .two-steps div[class^="step"] { height:inherit; display:inline-block;}
.steps div[class^="step"] p, .two-steps div[class^="step"] p {margin:0; padding: 10px 0;}

/*three - steps*/
.steps {color: #6d6d6d;}
.steps div[class^="step"].active, .two-steps div[class^="step"].active {color:#FFF; text-shadow:1px 0 5px #0e1926;}
.steps div[class^="step"], .two-steps div[class^="step"] {height: 80px; background-repeat: no-repeat;}
.steps .step1.normal {background-image: url(../images/step1_normal.jpg);}
.steps .step2.normal {background-image: url(../images/step2_normal.jpg);}
.steps .step3.normal {background-image: url(../images/step3_normal.jpg);}
.steps .step1.active {background-image: url(../images/step1_active.jpg);}
.steps .step2.active {background-image: url(../images/step2_active.jpg);}
.steps .step3.active {background-image: url(../images/step3_active.jpg);}
.steps .step2.inactive {background-image: url(../images/step2_inactive.jpg)}
.steps .step3.inactive {background-image: url(../images/step3_inactive.jpg);}
.steps div[class^="step"] p span, .two-steps div[class^="step"] p span {/*font-size:56px;*/font-size: 42px; vertical-align:sub; margin-right:10px;}

/*two - steps*/
.two-steps .step1.normal {background-image: url(../images/2steps_step1_normal.jpg);}
.two-steps .step2.normal {background-image: url(../images/2steps_step2_normal.jpg);}

.two-steps .step1.active {background-image: url(../images/2steps_step1_active.jpg);}
.two-steps .step2.inactive {background-image: url(../images/2steps_step2_inactive.jpg);}
.two-steps .step2.active {background-image: url(../images/2steps_step2_active.jpg);}

/*box*/
.box, .method {border-radius:4px;}
.box/*, .list-group*/ {overflow:hidden; margin-bottom:8px; box-shadow: 0 1px 2px #CCC; background:#FFF;}
.box{min-height:250px;}
.box, table { margin-top:4px; margin-bottom:8px!important; }
.box .title {background:#1d1d1d; color:#FFF; font-size:18px; margin-bottom:0;}
.box .infoCol p{ text-align: justify; margin:6px 0 6px;}
.box .infoCol .editLink{border:1px solid red; margin-bottom:10px;}


/*infoCol*/
.infoCol {padding:6px 10px; overflow:hidden;}

/*.rejected-page*/
.infoCol ul, .infoCol {line-height:1.6;}

/*Alerts-Messages--------------------------*/
.alert{padding:2px 8px; margin-bottom:6px; font-size:12px; margin-top:5px;}
div[class^="alert"] i {font-size:12px; }
div.alert p a:hover{ color:#333;}
div#header .alert {margin: 10px 10px 5px;}
.internal-content>.alert{ margin-top: -5px;}

/*loaders*/
.loader-lg {margin-top:20px; margin-bottom:25px;}
.loader{ height:40px; margin: 15px 0;}
.loader, .loader-sm{background-image:url(../images/loader-sm_40x40.gif); background-repeat:no-repeat; background-position: center;}
.loader-sm {background-color:rgba(249, 249, 249, 0.75);  display:block; position:absolute; top:0; bottom:0; right:0; left:0; z-index:3; margin: 0 10px;}
.loader-xs {height:28px; padding:3px;background-image:url(../images/loader-xs_17x17.gif); background-repeat:no-repeat; background-position: center;}

/*Pages*/
/*-----welcome*/
.welcome-page {background-image:url(../images/bg-welcome.jpg)!important; width:auto; height:538px; background-position:bottom; background-repeat:no-repeat; background-size:cover;}
.welcome-page {text-align:center; color:#FFF;}
.welcome-page h2 {margin-top:35px; font-weight:normal; text-shadow:1px 1px 5px #4a577d;}
.welcome-page h2 span:first-child {font-size:56px; line-height:1;}
.welcome-page h2 > span + span {display:block; font-size:90px;}
.welcome-page .title {margin-top:21px; font-size:32px; color:#FFF; text-shadow:1px 1px 5px #4a577d;}

/*-----Method*/
.modules {text-align:left;}
.modules p a{font-style: italic;}
.modules p span { font-weight:bold;}
/*.modules .box .processors {overflow-y:scroll; height:300px;}*/
.modules .box .method{ width:100%; }
.modules .box .method a{height:75px; width:100%; display:block; background-position: center center; background-repeat: no-repeat; background-size: 55% auto;}

/*methods-list*/
.modules .box .method .visa{background-image: url(../images/processors/11001.png); }
.modules .box .method .skrill_ew{ background-image:url(../images/processors/13.png);}
.modules .box .method .skrill_1tap{ background-image:url(../images/processors/13042.png);}
.modules .box .method .btcscreen{ background-image:url(../images/processors/814.png);}
.modules .box .method .moneygram{ background-image:url(../images/processors/16.png);}
.modules .box .method .westernunion{ background-image:url(../images/processors/6.png);}
.modules .box .method .player2agent{ background-image:url(../images/processors/18.png);}
.modules .box .method .ria{ background-image:url(../images/processors/26.png);}
.modules .box .method .neteller_new{ background-image:url(../images/processors/333.png);}
.modules .box .method .debitcards{ background-image:url(../images/processors/30200.png);}
.modules .box .method .mastercard{ background-image:url(../images/processors/11000.png);}
.modules .box .method .verifiedbyvisa{ background-image:url(../images/processors/verified-by-visa.png);}
.modules .box .method .genck{ background-image:url(../images/processors/70000.png);}
.modules .box .method .crd3co{ background-image:url(../images/processors/354.png);}
.modules .box .method .entropayvisa{ background-image:url(../images/processors/entropay-visa.png);}
.modules .box .method .agent-transfer{ background-image:url(../images/processors/agent-transfer.png);}
.modules .box .method .pp_apcc{ background-image:url(../images/processors/727.png);}
.modules .box .method .transferencia-local{ background-image:url(../images/processors/transferencia-bancaria-local.png);}
.modules .box .method .boleto{ background-image:url(../images/processors/boleto.png);}
.modules .box .method .billpay{ background-image:url(../images/processors/36.png);}
.modules .box .method .amex{background-image:url(../images/processors/11005.png);}
.modules .box .method .cryptoscreen{background-image:url(../images/processors/830.png);}
.modules .box .method .btc_crypto_transfer{background-image:url(../images/processors/828.png);}
.modules .box .method .jcb{background-image:url(../images/processors/11006.png);}

/*---------*/
.modules .box .method, .modules .card-details img {border:1px solid #DDD; background:#FFF;  margin-bottom:15px; text-align:center; }
.modules .card-details img{padding:15px 10px;}
.modules .box .method img {width: 100px; height:36px;}
.modules .box .method i {font-size:25px; position:absolute; right:18px; bottom:60px;}
.modules .box .method.active {border:1px solid #01b300;}
.modules .box .method.active i {color:#01b300;}

.box .form-horizontal .form-group {margin-right: 0!important;}

/*.modules .deposit-limits {text-align:center;}*/

/*.success-page*/
.banner {background-size:cover; width:100%;}
.fa-4 {font-size:6em!important;}
/*.success-message {text-align:center;}
.success-message i[class^="fa fa-check"] {font-size:7em;}
.success-message i {margin-top:8px; margin-bottom:10px}
.success-message .title {margin-bottom:20px; font-size:30px;}
.success-message button{margin:10px 0 10px;}*/

/*rejected*/
/*.rejected-message {line-height:2;}
.rejected-message p {font-size:15px;}
.rejected-message input + small {display:block; font-style:italic;}*/

/*debit_card_new*/
.card-details img {/*width:150px;*/ width:120px;}
.card-details table th {text-align:center; padding:5px 0;}

/*QRCode*/
#QRCode {text-align:center;}
#QRCode img{ margin:5px 0; }

/*terms_conditions*/
.closeButton--jss-0-1{left: initial!important; top:-20px!important; right:-20px;}
.dialog--jss-0-0{left:0!important; margin:0 auto!important; position:relative!important; width:60%!important; border-radius: 3px!important; line-height: 1.8;}


/*--------------------------------------*/
/*MISSING-ROW*/

div[class*="col-"] > div[class*="col-"] {
    border: 2px dotted red;
    font-size: 15px;
}
div[class*="col-"] > div[class*="col-"]:before {
    content: "Attention: .row MISSING!";
    background-color: red;
    display: block;
    color: #fff;
}

.row > .row {
    border: 2px dotted orange;
    font-size: 15px;
}
.row > .row:before {
    content: "Attention: .col MISSING!";
    background-color: orange;
    display: block;
    color: #fff;
}

[hidden] {display: none !important;}

/* Crypto Transfer style */
#cryptoTransfer-Btn {
    width: 200px;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    color: rgb(54, 75, 99);
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(191, 191, 191);
    transition: background-color 0.7s;
}

#imgSmall{
    width: 60px;
}

#cryptoTransfer-Btn:hover {
    color: #fff !important;
    background-color: #0c6b9a !important;
    transition: background-color 0.7s !important;
}

#cryptoTransfer-Btn:hover #symbolName {
    color: #fff !important;
}

#cryptoTransfer-Btn-content {
    display: none;
}

#symbolName {
    width: 100%;
    display: block;
    color: #777;;
}

#symbolValue {
    display: none;
}

#cryptoAskInform {
    width: 300px;
    display: none;
    margin: 0 auto;
}

#cryptoAskInform input {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cryptoLimits {
    width: 100%;
    height: 25px;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
    background-color: #e4eaf8;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(.5, 0, 1, .5);
    }
    0% {
        transform: rotateY(0deg)
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, .5, .5, 1)
    }
    100% {
        transform: rotateY(3600deg)
    }
}

@-webkit-keyframes lds-circle {
    0%, 100% {
        -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, .5);
    }
    0% {
        -webkit-transform: rotateY(0deg)
    }
    50% {
        -webkit-transform: rotateY(1800deg);
        -webkit-animation-timing-function: cubic-bezier(0, .5, .5, 1)
    }
    100% {
        -webkit-transform: rotateY(3600deg)
    }
}

.lds-circle {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: lds-circle 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-circle 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.cryptoScroll{
    height: 370px;
    padding-top: 25px;
    overflow-x: hidden;
    overflow-y : scroll;
}

#cryptoTransferModal, #moneroMsgModal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
}

#expiredSessionModal{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
}

#cryptoTransferModal-content{
    width: 675px;
    margin: auto;
    height: 415px;
    padding-top: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(254, 254, 254);
}

#expiredSessionModal-content{
    width: 675px;
    margin: auto;
    height: 415px;
    padding-top: 25px;
    background-color: rgb(254, 254, 254);
}

#restartIMG{
    width: 200px;
    margin: 0 auto;
    display: block;
}

#restartTXT{
    margin: 20px;
    font-size: 25px;
    text-align: center;
}

#moneroMsgModal-content{
     width: 350px;
     margin: auto;
     height: 150px;
     background-color: rgb(254, 254, 254);
}

#moneroMsgModal-content p{
    padding: 15px;
}

#cryptoTransferModal-header{
    z-index: 1;
    height: 60px;
    display: block;
    width: inherit;
    position: fixed;
    margin-top: -60px;
    box-sizing: border-box;
    background-color: rgb(254, 254, 254);
}

#moneroMsgModal-header{
    z-index: 1;
    height: 15px;
    display: block;
    width: inherit;
    position: fixed;
    margin-top: -15px;
    box-sizing: border-box;
    background-color: rgb(254, 254, 254);
}

#cryptoTransferModal-currencySearch {
    height: 35px;
    width: 27.2%;
    margin-top: 2%;
    margin-left: 7.8%;
}

#cryptoTransferModal-close, #moneroMsgModal-close{
    top: 0;
    margin: 1%;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

#moneroMsgModal-close{
    font-size: 23px;
}

#cryptoTransfer-currencies {
    margin-left: 7%;
}

.cryptoTransferCurrency {
    width: 30%;
    z-index: 0;
    cursor: pointer;
    margin-left: 1%;
    margin-bottom: 1%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
}

.cryptoTransferCurrency:hover {
    border: 1px solid rgb(0, 153, 0);
}

.cryptoTransferCurrency img {
    width: 60%;
    z-index: -1;
    margin-left: 20%;
    position: relative;
}

.currentName{
    width: 100%;
    margin: 1px;
    display: block;
    text-align: center;
}

.unavailableName{
    width: 100%;
    float: left;
    color: black;
    position: inherit;
    font-size: 17px;
    margin-top: -23px;
    text-align: center;
}

.unavailableCurrency {
    filter: gray;
    cursor: not-allowed;
    box-Sizing: border-box;
    border: 1px solid #e6e6e6;
    -webkit-filter: grayscale(100%);
}

#cryptoAddressContainer{
    width: 100%;
    height: 34px;
    display: inline-block;
}

#cryptoAddress{
    width: 95%;
    float: left;
    margin: 0 !important;
}

#helpAddress{
    width: 2%;
    float: left;
    color: #0e1926;
    cursor: pointer;
    margin-left: 5px;
    box-sizing: border-box;
    font-size: 18px !important;
}

#refundErrorMsg{
    z-index : 1;
    width: 94%;
    padding: 6px;
    display : none;
    margin : 0 auto;
    border-radius: 5px;
    position : absolute;
    visibility : inherit;
    background-color : #f2f2f2;
    box-shadow: 1px 2px 0 0 rgba(179,179,179,0.37);
}

#verificationCodeInputContent{
    margin-bottom: 36px;
}

#methodInfo{
    display: none;
    text-align: justify;
}

.errorMessage-title, .errorMessage-title i {
  font-size: 14px!important
}

.ticket-header {
  font-size: x-large;
  margin-bottom: 14px;
}

.ticket-header i {
  font-size: x-large!important
}

.ticket-body {
  line-height: 1.5;
  font-size: 14px;
}

#requestContent{
    width: 100%;
    height: 100%;
    background-color: black;
}

#requestsOptions{
    float: left;
    width: inherit;
    font-size: 16pt;
    min-height: 59px;
    display: inline-block;
    font-family: Oswald-Medium;
}

.DocsOptions{
    float: left;
    width: 170px;
    height: 50px;
    color: white;
    display: flex;
    cursor: pointer;
    margin-top: 9px;
    font-size: 13pt;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    background-color: #5e5e5e;
    -webkit-align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-justify-content: center;
}

.DocsOptionsBlock{
    float: left;
    width: 170px;
    height: 50px;
    color: white;
    display: flex;
    cursor: pointer;
    margin-top: 9px;
    font-size: 13pt;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    background-color: #0e1926;
    -webkit-align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-justify-content: center;
}

.DocsOptionsClick{
    height: 59px;
    margin-top: 0;
    background-color: #1a1a1a;
}

#requestOptionContent{
    height: 478px;
    width: inherit;
    display: inline-block;
    background-size: cover;
    background-image: url(../images/docsOnFiles/docsFileBackground.svg);
}

#docsFilesFormContent{
    float: left;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
}

#docsFileFormContent{
    display: flex;
    width: inherit;
    max-height: 408px;
    height: inherit;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#docsFileForm{
    width: 100%;
    overflow-y: auto;
    margin-top: 10px;
    max-height: 408px;
    text-align: center;
    align-items: center;
    display: inline-block;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#docsFilesOptionsContent{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#docsFileTXT{
    padding: 5px;
    color: white;
    width: 409px;
    height: 105px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15pt;
    border-radius: 12px;
    border: solid 4px white;
    font-family: Oswald-Medium;
}

#docsFileDocumentTypeTXT{
    color: white;
    margin: 0 auto;
    font-size: 15pt;
    margin-top: 10px;
    text-align: center;
    font-family: Oswald-Medium;
}

#switchOpt{
    float: left;
    display: flex;
    width: inherit;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#docsFileOptTittle{
    float: left;
    color: white;
    margin: 0 auto;
    font-size: 16pt;
    margin-top: 14px;
    margin-left: 377px;
    position: absolute;
    font-family: Oswald-Medium;
}

.switch {
    margin: 5px;
    width: 100px;
    height: 20px;
    position: relative;
    display: inline-block;
}

.switch input {display:none;}

.slider{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    cursor: pointer;
    position: absolute;
    -webkit-transition: .4s;
    background-color: black;
}

.slider:before{
    left: 4px;
    width: 16px;
    bottom: 2px;
    height: 16px;
    transition: .4s;
    content: "";
    position: absolute;
    background-color: white;
    -webkit-transition: .4s;
}

input:checked + .slider:before{
    content: "";
    transform: translateX(76px);
    -ms-transform: translateX(76px);
    -webkit-transform: translateX(76px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#docsFilesInputContent{
    color: white;
    font-size: 14pt;
    margin-top: 10px;
    font-family: "Oswald-Medium";
}

#docsFileButtonContent{
    float: right;
    width: inherit;
    margin-top: 10px;
}

#docsFileButtonContent button{
    border: none;
    height: 47px;
    width: 140px;
    color: black;
    font-size: 16pt;
    border-radius: 15px;
    background: #cccccc;
    transition: all .2s ease;
    font-family: Oswald-Medium;
}

#docsFilesOptionContent button:hover{
    background: #ffffff;
}

#docsFilesOptionContent button:active{
    border:0;
}

#DocsUploadSuccessResponse{
    color: white;
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    font-family: Oswald-Light;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

#DocsUploadSuccessResponse img{
    height: 200px;
    margin-top: 200px;
    position: absolute;
}

#DocsUploadSuccessResponse span{
    font-size: 30pt;
    margin-top: 320px;
    position: absolute;
}

#DocsUploadSuccessResponse p{
    font-size: 20pt;
    margin-top: 380px;
    position: absolute;
}

#DrawDropUploadElement{
    width: 409px;
    height: 145px;
    margin: 0 auto;
    margin-top: 10px;
}

#DrawDropUploadContent{
    float: left;
    display: flex;
    width: inherit;
    height: inherit;
    font-size: 16pt;
    position: relative;
    justify-content: center;
    font-family: Oswald-Medium;
    -webkit-justify-content: center;
}

#DrawDropErrorMsg{
    color: white;
    font-size: 16pt;
    margin-top: 15px;
    position: absolute;
    font-family: Oswald-Medium;
}

#DrawDropUpload{
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 12px;
    border: 4px dashed #ffffff;
}

#DrawDropUpload p{
    width: 100%;
    height: 100%;
    color: #a5a2a2;
    font-size: 21px;
    line-height: 125px;
}

#DrawDropUpload input{
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 0;
    outline: none;
    width: inherit;
    cursor: pointer;
    height: inherit;
    position: absolute;
}

#DragDropThumbnails{
    z-index: -1;
    margin-top: -80px;
    overflow-x: auto;
    position: absolute;
    overflow-y: hidden;
}

#DragDropThumbnails span{
    display:inline-block;
}

.DragDropThumbnail{
    margin: 5px;
    height: 48px;
    border: 1px solid #a5a2a2;
}

.docsFileInputText input, .docsFileInputText select{
    margin: 7px;
    width: 300px;
    height: 30px;
    color: black;
    box-shadow: 0;
    border-radius: 3px;
}

.docsFileInputSelected{
    width: 315px;
    margin: 0 auto;
}

.docsFileOptsTittles{
    font-size: 16pt;
    margin-top: 15px;
    text-align: center;
}

.docsFileOptsTittles span{
    margin: 15px;
    width: 285px;
    height: 40px;
    margin-top: 0;
    color: #5e5e5e;
    font-size: 25px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 12px;
    display: inline-block;
    box-sizing: content-box;
    background-color: white;
    font-family: Oswald-Medium;
}

.docsFileMultiOptSelected{
    border: 2px solid #5e5e5e;
    box-shadow: 0 0 0 3px white;
}

.docsFilesOptions{
    width: 190px;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    height: inherit;
}

.docsFilesOptions:hover{
    border-radius: 12px;
    border: solid 1px white;
}

#docsFilesShowOptionSelectedContent{
    margin: 50px;
    color: white;
    display: block;
    font-size: 16pt;
    cursor: pointer;
    position: absolute;
    font-family: Oswald-Light;
}

#docsFilesShowOptionSelectedContent span{
    float: left;
    clear: both;
}

#docsFilesShowOptionSelected{
    float: left;
    width: 135px;
    cursor: pointer;
}

#DocsFileBack{
    float: right;
    margin-top: 15px;
    margin-right: 35px;
}

#DocsFileBack a{
    color: white;
    font-size: 16pt;
    text-decoration: none;
    font-family: Oswald-Light;
}

.DocsFileRemoveThumbnail{
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-top: -6px;
    position: absolute;
    margin-left: -21px;
}

#DocsFileCustomerFormsContent{
    width: 90%;
    color: white;
    height: 455px;
    margin: 0 auto;
    overflow-y: auto;
}

.docsFileCustomerFormsRow{
    float: none;
    background-color: beige;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.docsFileCustomerFormsRow span{
    margin-left: 20px;
}

#DocsFileCustomerFormsHeader{
    position: fixed;
    background-color: #1a1a1a;
    border-bottom: 1px solid white;
}

.grid-global-container{
    margin-top: 20px;
}

.grid-container{
    margin-bottom: 10px;
    display: inline-grid;
    grid-template-columns: 200px 250px 200px 200px;;
}

.grid-item{
    text-align: center;
}

.grid-container input{
    width: 80px;
    color: black;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #cccccc;
    font-family: Oswald-Medium;
}

#docsFileForm::-webkit-scrollbar{
    width: 10px;
}

#docsFileForm::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px ;
}

#docsFileForm::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(0,0,0,1);
}

#DocsFileCustomerFormsContent::-webkit-scrollbar{
    width: 10px;
}

#DocsFileCustomerFormsContent::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px ;
}

#DocsFileCustomerFormsContent::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(0,0,0,1);
}

.docsFileBackOptId{
    width: 85px;
    height: 50px;
    color: black;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 395px;
    border-radius: 7px;
    text-align: center;
    margin-left: 785px;
    position: absolute;
    background-color: #cccccc;
    font-family: Oswald-Medium;
}

.docsFileReasonsFileRejected{
    color: white;
    font-size: 14pt;
    margin-top: 10px;
    font-family: Oswald-Medium;
}

.docsFileLoader {
    float: none;
    width: 120px;
    height: 120px;
    display: flex;
    margin-top: 150px;
    border-radius: 90%;
    border-top: 16px solid #5e5e5e;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.5s linear infinite;
    border: 16px solid rgba(255, 255, 255, 0.4);
}

.prettyLoader,
.prettyLoader:before,
.prettyLoader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.prettyLoader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.prettyLoader:before,
.prettyLoader:after {
    position: absolute;
    top: 0;
    content: '';
}

.prettyLoader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.prettyLoader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}