/*Poker-Cashier*/

/*Font-face_Bebas*/
@font-face{font-family:'BebasNeueRegular'; src: url('../fonts/bebas-neue-webfont.woff'),url('../fonts/bebas-neue-webfont.eot'); font-weight:normal; font-style:normal;}
@font-face {font-family: 'Oswald-Light'; src: url('../fonts/Oswald-Light.woff'),url('../fonts/Oswald-Light.eot'); font-weight:normal; font-style:normal;}

/*titles*/
h2, h3 {font-weight:normal; line-height:normal; letter-spacing:1px;}
h2, h3, .steps, .two-steps, .btn-welcome {font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif; font-size:33px;}
.title {color: #1976D2;/* font-size: 25px;*/ font-size:22px; font-weight: bold; margin-bottom: 5px; padding: 5px 0;}
h4, h5, .title, .header-top {font-family: "Oswald-Light", Arial, Helvetica, sans-serif; letter-spacing:.5px;}
.subtitle {font-weight:bold; margin-bottom:10px;}

/*links*/
a {color:#777; text-decoration:underline;}
a:hover {color: #1a8dea; cursor:pointer;}

/*icons*/
i {color:#6d6d6d; margin-right:4px;}
i.i-top{margin-top: 8px;}

/*colors*/
.green {color:#01b300;}
.orange {color:orange;}
.blue {color:#1a8dea;}
.red {color:#e03430;}

/*btns*/
button + button {margin-left:20px;}
button.btn-welcome {border:1px solid #6b89ac; font-size:53px; margin-top:14px; padding:5px 36px 5px; border-radius:6px; text-shadow:1px 1px 2px #6172a1;
	font-weight:normal;}
button.btn-welcome:hover {box-shadow:0 0 7px 1px #6172a1; font-weight:normal;}
button.btn-welcome:hover, button.btn-welcome:focus, .btn-green, .btn-green:focus {color:#FFF;}
.btn-green, .btn-green:active {font-weight:bold; /*margin-top:4px;*/ margin-bottom:2px; background:#01b300; background:-moz-linear-gradient(top, #01b300 0%, #3a9637 100%); background: -webkit-linear-gradient(top, #01b300 0%, #3a9637 100%); background: linear-gradient(to bottom, #01b300 0%, #3a9637 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01b300', endColorstr='#3a9637', GradientType=0);}
.btn-green:hover {box-shadow:0 0 7px 1px green; border:1px solid #6dd66c; color:#FFF;}
.btn:hover {-webkit-transition: all 100ms ease-in; -moz-transition: all 100ms ease-in; -ms-transition: all 100ms ease-in; -o-transition: all 100ms ease-in; transition: all 100ms ease-in;}
.btn-top{ margin-top:4px;}

/*form*/
form { margin-bottom:5px;}
select + select {margin-top:15px;}
.checkbox input[type=checkbox] {position:initial;}
.checkbox label span { margin-left:4px;}
.col-sm-3 + .col-sm-3 + .col-sm-6 {margin-top:8px;}
.form-group label + input[type*="number"] {/*width: 300px!important;*/ margin: 0 auto;}
.form-group{/*overflow: hidden;*/}
.form-group{ margin-bottom:10px;}
.form-control { height:28px; padding:3px 6px;}
label{ font-size:13px;}

/*tables*/
table {margin:0 auto; border:0; border-radius:3px; overflow:hidden; font-size:14px; box-shadow: 0 1px 2px #AAA; width: 85%; text-align:left;/* margin-top:10px;*/ }
table.table {width:95%;}
.table-responsive {border: none;}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#d0ddf7/* #c7d6f3*/;}
.table-striped>tbody>tr:nth-of-type(even){background-color: #e5ebf9;}
table tr {border-bottom: 1px solid #c7d6f3;}
table tr:last-child{ border-bottom:none!important;}
table tr th {background:#1d1d1d; color:#FFF;}
table tr td{ border-top:0!important;}
table tr td span {color:#555; font-weight: 500;}
table tr td[rowspan]{border-right: 1px solid #c7d6f3;}
table.contextual-table tr{border-bottom: 1px solid #DDD;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding:6px 8px; vertical-align:middle;}
/*MTCN-tables*/
table.mtcn-table{}
table.mtcn-table tr th{ border-bottom:1px solid #555!important; color: #c7d6f3;}
table.mtcn-table tr th span{ color:#FFF;}
table.mtcn-table tr td strong{ color:#1976D2;}

/*list*/
ul li, ol li {text-align:left;}
ul li span, ol li span {font-weight:bold; color:#555;}

/*paragraph*/
.internal-content p{ /*margin:0 0 10px;*/margin: 2px 0 8px;}

/*global*/
body {background:#EEE; font-family:'Segoe UI', Arial, sans-serif; color:#777; font-size:13px; }
.global .container {}

/*container*/
.container/*, .box*//*, table*/{padding: 0;border-right:1px solid #CCC; border-left:1px solid #CCC; border-bottom:1px solid #CCC; width:1000px; height: 538px; -webkit-box-shadow: 0 0 2px 2px #000; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1); -ms-box-shadow: 0 0 2px 2px #000; box-shadow:0 0 2px 2px #000; box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);  background:#F9F9F9;}

/*header-top*/
.header-top {background:#1d1d1d;/* border-top:1px solid #444;*/ /*color:#AAA;*/color: #c7d6f3; overflow:hidden;}

/*-----InfoUser*/
.header-top {padding:5px 15px; font-size:15px;}
.header-top span {color:#FFF; padding-left:5px;}
.header-top a {color:#1a8dea;}
.header-top a:hover {color:#FFF;}

/*internal-content*/
.internal-content {/*padding:15px 15px 20px;*/padding:10px 10px 15px; /*padding:10px 0 15px;*/}

/*scroll*/
.scroll, .mtcn.scroll/*, .processors*/ { overflow-y:scroll!important;}
.scroll/*, .processors*/{ height:300px;}
.mtcn.scroll{height:425px;}
.infoCol .scroll{height: 300px;}

/*-----steps*/
.steps, .two-steps {text-align: center;}
.steps div[class^="step"]{width: 33.333%;}
.two-steps div[class^="step"]{ width: 50%;}
.steps div[class^="step"], .two-steps div[class^="step"] { height:inherit; display:inline-block;}
.steps div[class^="step"] p, .two-steps div[class^="step"] p {margin:0;}

/*three - steps*/
.steps {color: #6d6d6d;}
.steps div[class^="step"].active, .two-steps div[class^="step"].active {color:#FFF; text-shadow:1px 0 5px #0e1926;}
.steps div[class^="step"], .two-steps div[class^="step"] {height: 80px; background-repeat: no-repeat;}
.steps .step1.normal {background-image: url(../images/step1_normal.jpg);}
.steps .step2.normal {background-image: url(../images/step2_normal.jpg);}
.steps .step3.normal {background-image: url(../images/step3_normal.jpg);}
.steps .step1.active {background-image: url(../images/step1_active.jpg);}
.steps .step2.active {background-image: url(../images/step2_active.jpg);}
.steps .step3.active {background-image: url(../images/step3_active.jpg);}
.steps .step2.inactive {background-image: url(../images/step2_inactive.jpg)}
.steps .step3.inactive {background-image: url(../images/step3_inactive.jpg);}
.steps div[class^="step"] p span, .two-steps div[class^="step"] p span {font-size:56px; vertical-align:sub; margin-right:10px;}

/*two - steps*/
.two-steps .step1.normal {background-image: url(../images/2steps_step1_normal.jpg);}
.two-steps .step2.normal {background-image: url(../images/2steps_step2_normal.jpg);}

.two-steps .step1.active {background-image: url(../images/2steps_step1_active.jpg);}
.two-steps .step2.inactive {background-image: url(../images/2steps_step2_inactive.jpg);}
.two-steps .step2.active {background-image: url(../images/2steps_step2_active.jpg);}

/*box*/
.box, .method {border-radius:4px;}
.box {overflow:hidden; /*margin-bottom:20px;*//* margin-bottom:15px;*/ margin-bottom:8px; min-height:250px; box-shadow: 0 1px 2px #CCC; background:#FFF}
.box, table {/*margin-top:15px;*//*margin-top:10px;*/ margin-top:4px; margin-bottom:8px!important; }
.box .title {background:#1d1d1d; /*background:#152d5e;*/ color:#FFF;/* font-size:20px;*/ font-size:18px; margin-bottom:0;}


/*infoCol*/
.infoCol {/*padding:10px;*/ padding:6px 10px; overflow:hidden;}

/*.rejected-page*/
.infoCol ul, .infoCol {line-height:1.6;}

/*Alerts-Messages--------------------------*/
.alert{/*padding: 5px 10px;*/ padding:2px 8px; margin-bottom:5px;}
div[class^="alert"] i {font-size:12px;}
.alert p a:hover{ color:#333;}

/*loaders*/
.loader-lg {margin-top:20px; margin-bottom:25px;}
.loader{ height:40px; /*background-position:center center;*/}
.loader, .loader-sm{background-image:url(../images/loader-sm_40x40.gif); background-repeat:no-repeat; background-position: center;}
.loader-sm {background-color:rgba(255, 255, 255, 0.75);  display:block; position:absolute; top:0; bottom:0; right:0; left:0; z-index:3;}
.loader-xs {height:34px; padding-top:4px;}

/*Pages*/
/*-----welcome*/
.welcome-page {background-image:url(../images/bg-welcome.jpg)!important; width:auto; height:538px; background-position:bottom; background-repeat:no-repeat; background-size:cover;}
.welcome-page {text-align:center; color:#FFF;}
.welcome-page h2 {margin-top:35px; font-weight:normal; text-shadow:1px 1px 5px #4a577d;}
.welcome-page h2 span:first-child {font-size:56px; line-height:1;}
.welcome-page h2 > span + span {display:block; font-size:90px;}
.welcome-page .title {margin-top:21px; font-size:32px; color:#FFF; text-shadow:1px 1px 5px #4a577d;}

/*-----Method*/
.modules {text-align:center;}
.modules p a{font-style: italic;}
.modules p span { font-weight:bold;}
/*.modules .box .processors {overflow-y:scroll; height:300px;}*/
.modules .box .method{ width:100%; }
.modules .box .method a{height:75px; width:100%; display:block; background-position: center center; background-repeat: no-repeat; background-size: 55% auto;}

/*methods-list*/
.modules .box .method .visa{background-image: url(../images/processors/visa.png); }
.modules .box .method .skrill{ background-image:url(../images/processors/skrill.png);}
.modules .box .method .skrill-1tap{ background-image:url(../images/processors/1Tap-EW-by-Skrill.png);}
.modules .box .method .bitcoin{ background-image:url(../images/processors/bitcoin.png);}
.modules .box .method .moneytransfer-MG{ background-image:url(../images/processors/money-transfer-MG.png);}
.modules .box .method .moneytransfer-WU{ background-image:url(../images/processors/money-transfer-WU.png);}
.modules .box .method .moneytransfer-RIA{ background-image:url(../images/processors/ria-money-transfer.png);}
.modules .box .method .neteller{ background-image:url(../images/processors/neteller.png);}
.modules .box .method .netellergo{ background-image:url(../images/processors/neteller-go.png);}
.modules .box .method .debitcards{ background-image:url(../images/processors/debit-cards.png);}
.modules .box .method .mastercard{ background-image:url(../images/processors/mastercard.png);}
.modules .box .method .verifiedbyvisa{ background-image:url(../images/processors/verified-by-visa.png);}
.modules .box .method .bankdraft{ background-image:url(../images/processors/bank-draft.png);}
.modules .box .method .ecopayz{ background-image:url(../images/processors/ecopayz.png);}
.modules .box .method .entropayvisa{ background-image:url(../images/processors/entropay-visa.png);}
.modules .box .method .agent-transfer{ background-image:url(../images/processors/agent-transfer.png);}
.modules .box .method .astropay{ background-image:url(../images/processors/astropay.png);}
.modules .box .method .transferencia-local{ background-image:url(../images/processors/transferencia-bancaria-local.png);}
.modules .box .method .boleto{ background-image:url(../images/processors/boleto.png);}
.modules .box .method .billpay{ background-image:url(../images/processors/billpay.png);}

/*---------*/
.modules .box .method, .modules .card-details img {border:1px solid #DDD;
	background:#FFF;  margin-bottom:15px; text-align:center; }
.modules .card-details img{padding:15px 10px;}
.modules .box .method img {width: 100px; height:36px;}
.modules .box .method i {font-size:16px; position:absolute; right:18px;/* bottom:53px;bottom:60px;*/}
.modules .box .method.active {border:1px solid #01b300;}
.modules .box .method.active i {color:#01b300;}
/*.modules .deposit-limits {text-align:center;}*/

/*-----Success*/
/*.success-page*/
.banner {background-size:cover; width:100%;}
.fa-4 {font-size:6em!important;}
/*.success-message {text-align:center;}
.success-message i[class^="fa fa-check"] {font-size:7em;}
.success-message i {margin-top:8px; margin-bottom:10px}
.success-message .title {margin-bottom:20px; font-size:30px;}
.success-message button{margin:10px 0 10px;}*/

/*rejected*/
/*.rejected-message {line-height:2;}
.rejected-message p {font-size:15px;}
.rejected-message input + small {display:block; font-style:italic;}*/

/*debit_card_new*/
.card-details img {/*width:150px;*/ width:120px;}
.card-details table th {text-align:center; padding:5px 0;}

/*QRCode*/
#QRCode{ margin:10px 0 10px;}


/*--------------------------------------*/
/*MISSING-ROW*/

div[class*="col-"] > div[class*="col-"] {
	border: 2px dotted red;
	font-size: 15px;
}
div[class*="col-"] > div[class*="col-"]:before {
	content: "Attention: .row MISSING!";
	background-color: red;
	display: block;
	color: #fff;
}

.row > .row {
	border: 2px dotted orange;
	font-size: 15px;
}
.row > .row:before {
	content: "Attention: .col MISSING!";
	background-color: orange;
	display: block;
	color: #fff;
}

[hidden] {display: none !important;}